.signup_form {
  background-color: #343a40;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  border-radius: 1rem;
}

.signup_username {
  margin: 10px;
}

.signup_email {
  margin: 10px;
}

.signup_password {
  margin: 10px;
}

.signup_button {
  margin-bottom: 10px;
}
